
* {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.home-title {
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.btn-goback {
    display: inline-block;
    width: 120px;
    padding: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgb(236, 236, 236);
    color: black;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

    .btn:hover {
        opacity: 80%;
    }

.btn-details {
    background-color: #04AA6D;
    color: white;
}

.btn-update {
    background-color: rgb(49, 176, 213);
    color: white;
}

.btn-delete {
    background-color: rgb(201, 48, 44);
    color: white;
}

.btn-add-student {
    background-color: rgb(0, 105, 217);
    color: white;
    margin: 1rem 7.5rem;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btn-submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.trainee-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin: 2rem auto;
}

.field-validation-error {
    width: 100%;
    display: inline-block;
    color: #842029;
    background-color: #f8d7da;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
