@model Trainee

@{
    SelectList DepartmentList = new SelectList(ViewBag.DeptList, "ID", "Name");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="/css/site.css" rel="stylesheet" />
    <title>Edit Trainee</title>
</head>
<body>

    <section>
        <div class="container">
            <div>
                <a class="btn-goback" asp-controller="trainee" asp-action="index">go back</a>
            </div>
            <div class="trainee-form">
                <h3 style="text-align: center;">Fill out to enroll</h3>
                <form asp-controller="trainee" asp-action="update" asp-route-id="@Model.ID" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="@Model.ID" />
                    <div>
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" placeholder="Enter your name">
                        <span asp-validation-for="Name"></span>
                    </div>

                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" placeholder="Enter your email" required>
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="text" placeholder="Enter your password" required>
                        <span asp-validation-for="Password"></span>
                    </div>
                    
                    <div>
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" type="text" placeholder="Confirm your password" required>
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>

                    <div>
                        <label asp-for="Level"></label>
                        <input asp-for="Level" type="number" min="1" max="4"/>
                        <span asp-validation-for="Level"></span>
                    </div>

                    <div>
                        <label asp-for="GPA"></label>
                        <input asp-for="GPA" type="number" required />
                        <span asp-validation-for="GPA"></span>
                    </div>

                    <div>
                        <label asp-for="Address"></label>
                        <input asp-for="Address" type="text" placeholder="Enter your address">
                        <span asp-validation-for="Address"></span>
                    </div>

                    <div>
                        <label asp-for="DeptID"></label>
                        <select asp-for="DeptID" asp-items="DepartmentList">
                            <option value="0">Select Department</option>
                        </select>
                        <span asp-validation-for="DeptID"></span>
                    </div>

                    <label>Profile Picture</label>
                    <input type="file" class="form-control" name="traineePhoto" value="@Model.ImageUrl" />

                    <input id="btn-submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

